[Desktop Entry]
Encoding=UTF-8
Name=Translation Recorder
Name[da]=translation-recorder
Comment=This is a program
Comment[da]=still a program
Exec=/bin/translation-recorder
Icon=/usr/share/translation-recorder/translation-recorder.svg
Terminal=false
Type=Application
Categories=Application
StartupNotify=true